
@import 'variables';

.masthead_son{
    background-image: url('/img/home.jpg');
    height: 1200px;
}
.navbar-shrink{
    background-color: black ;
}
.son_nguyen{
    background-color: aqua;
    height:500px;
}
.logo-f8__text{
    height: 30px;
    margin-bottom: 8px;
}
.mt-son-5{
    padding-top: 100px;
}