
@import 'variables';

.masthead_son{
    background-image: url('/img/back-gound-bizcute.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.navbar-shrink{
    background-color: black ;
}
.son_nguyen{
    background-color: aqua;
    height:500px;
}
.logo-f8__text{
    height: 30px;
    margin-bottom: 8px;
}
.mt-son-5{
    padding-top: 100px;
}
.my-user-logo{
    width:28px;
    height:28px;
    border-radius: 50%;
    margin-right: 4px;
}
a.text-logout:hover{
    color: red;
    text-decoration: none;
}
.number-garbage{
    position: relative;
    top: -8px;
    left:-5px;
    font-size: 12px;
    color:red;
}