        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">
                    <img src="/img/f8_text_logo.png" alt="" class="logo-f8__text">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">TRANG CHỦ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/courses">KHÓA HỌC</a></li>
                        <li class="nav-item"><a class="nav-link" href="/courses/create">ĐĂNG KHÓA HỌC</a></li>
                    </ul>
                </div>

            <form class="form-inline my-2 my-lg-0">
                <div class="avatar-user mb-2">
                    <img src="" alt="" class="">
                    <p class="text-white">SonNguyen</p>
                </div>
                <i class="fa fa-leaf text-white mx-4"></i>
                <i class="fa fa-paper-plane text-white"></i>
            </form>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
            </div>
        </nav>


